<!DOCTYPE html>
<html lang="en">

<head>
    <title>Souting Legion</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>

<body>
    <div class="login-page">
        <div class="text-image">
            <img src="/images/logo.webp" height="100" width="100">
            <h1>Scouting Legion</h1>
        </div>
        <div class="form">
            <form class="login-form" method="POST" action="/login">
                    {{!-- username --}}
                <input id="userName"  placeholder="username" name="username" maxlength="20" style="text-transform: lowercase" required>
                    {{!-- password --}}
                <input placeholder="password" required name="password" type="password" maxlength="20">
                <input id="set-token" name="token" type="hidden">
    
                <button onclick="setToken()">Submit</button>

            </form>
        </div>
    </div>
    <script type="text/javascript" src="/js/createSession.js"></script>
    {{>footers}}
</body>

</html>