<!DOCTYPE html>
<html>
    <head>
        <title>Static Messages</title>
        <link rel="stylesheet" href="/css/message.css">
    </head>
    <body>
        <div class="header">
                <p>Welcome {{username}}</p>
                <a id="logout" href="/logout">logout</a>
        </div>
        <div class="messages">
            <b>You have <u>one</u> unread message:</b><br>
            {{message}}
        </div>
        {{>footers}}
    </body>
</html>